header {
  background-color: #7ab2b2; /* 頁頭背景顏色 */
  color: #eef7ff; /* 文字顏色 */
  text-align: center; /* 文字置中 */
  padding: 1em; /* 上下左右填充 */
  position: relative; /* 相對定位 */
  overflow: hidden; /* 溢出隱藏 */
}

h1 {
  color: #eef7ff; /* 標題顏色 */
  text-align: center; /* 文字置中 */
  margin: 20px 0; /* 上下間距 */
}

/* 導覽列樣式 */
nav {
  background-color: #cde8e5; /* 導覽列背景顏色 */
  padding: 10px 0; /* 上下填充 */
  text-align: right; /* 將導覽列內容向右對齊 */
}

nav .nav-block {
  display: inline-block; /* 讓區塊內容水平排列 */
  margin-right: 20px; /* 右邊距 */
}

nav a {
  color: #4d869c; /* 鏈接顏色 */
  text-decoration: none; /* 移除下劃線 */
  margin: 0 10px; /* 左右間距 */
  padding: 5px 10px; /* 上下左右填充 */
  border-radius: 5px; /* 圓角 */
}

nav a:hover {
  background-color: #eef7ff; /* 鏈接懸停時背景顏色 */
}

/* 其他樣式 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* 字體 */
  margin: 0; /* 頁面邊距 */
  padding: 0; /* 內容填充 */
  background: #cde8e5; /* 背景顏色 */
}

h2 {
  color: #4d869c; /* 標題顏色 */
  text-align: center; /* 文字置中 */
  margin: 20px 0; /* 上下間距 */
}

section {
  display: flex; /* 使用彈性盒子布局 */
  flex-wrap: wrap; /* 自動換行 */
  justify-content: space-around; /* 水平分佈 */
  justify-content: flex-start; /* 將元素對齊到左邊 */
}

.product {
  width: 200px; /* 產品卡片寬度 */
  margin: 10px; /* 四周外邊距 */
  background-color: #fff; /* 背景顏色 */
  border-radius: 10px; /* 圓角 */
  overflow: hidden; /* 溢出隱藏 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
  transition: box-shadow 0.3s ease-in-out; /* 過渡效果 */
}

.product img {
  width: 100%; /* 圖片寬度 */
  height: auto; /* 圖片高度自動 */
  margin: 0 auto; /* 水平居中 */
  display: block; /* 圖片以塊狀元素顯示 */
  transition: filter 0.3s ease-in-out; /* 過渡效果 */
}

.out-of-stock img {
  filter: grayscale(100%);
}

.product-info {
  padding: 10px; /* 內邊距 */
  text-align: center; /* 文字置中 */
}

.inventory-control {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平和垂直居中 */
  margin-top: 10px; /* 上邊距 */
}

.inventory-control button {
  margin-left: 10px;
}

.inventory-control button {
  margin-left: 10px;
  padding: 8px 16px; /* 調整按鈕填充 */
  border: none; /* 移除邊框 */
  border-radius: 5px; /* 圓角 */
  background-color: #f97300; /* 按鈕背景顏色 */
  color: #fff; /* 文字顏色 */
  cursor: pointer; /* 指針樣式 */
  transition: background-color 0.3s ease; /* 過渡效果 */
}

.inventory-control button:hover {
  background-color: #d46200; /* 按鈕懸停時背景顏色 */
}

/* admin_income的數字 */
.big-number {
  font-size: 2em; /* 調整數字的字體大小 */
  text-align: center; /* 將數字水平置中 */
}
