/* 表單樣式 */
.form {
    display: flex; /* 使用彈性盒子佈局 */
    flex-direction: column; /* 主軸方向為垂直方向 */
    gap: 10px; /* 子元素間距 */
    padding-left: 2em; /* 左側填充 */
    padding-right: 2em; /* 右側填充 */
    padding-bottom: 1em; /* 底部填充 */
    background-color: #7AB2B2; /* 背景顏色 */
    border-radius: 25px; /* 圓角 */
    transition: .4s ease-in-out; /* 過渡效果 */
    max-width: 300px; /* 調整表單的最大寬度 */
    margin: auto; /* 將表單置中 */
  }
  
  /* 鼠標懸停時的效果 */
  .form:hover {
    transform: scale(1.05); /* 比例放大 */
    border: 1px solid black; /* 加上黑色邊框 */
  }
  
  /* 標題樣式 */
  #heading {
    text-align: center; /* 文字居中 */
    margin: 2em; /* 外邊距 */
    color: rgb(255, 255, 255); /* 文字顏色 */
    font-size: 2em; /* 字體大小 */
  }
  
  /* 欄位樣式 */
  .field {
    display: flex; /* 使用彈性盒子佈局 */
    align-items: center; /* 垂直居中對齊 */
    justify-content: center; /* 水平居中對齊 */
    gap: 0.5em; /* 子元素間距 */
    border-radius: 25px; /* 圓角 */
    padding: 0.6em; /* 內邊距 */
    border: none; /* 移除邊框 */
    outline: none; /* 移除外框線 */
    color: #CDE8E5; /* 文字顏色 */
    background-color: #4D869C; /* 背景顏色 */
    box-shadow: inset 1px 2px 3px rgb(5, 5, 5); /* 內陰影效果 */
  }
  
  /* 輸入圖標樣式 */
  .input-icon {
    height: 1.3em; /* 圖標高度 */
    width: 1.3em; /* 圖標寬度 */
    fill: white; /* 填充顏色 */
  }
  
  /* 輸入框樣式 */
  .input-field {
    background: none; /* 背景透明 */
    border: none; /* 移除邊框 */
    outline: none; /* 移除外框線 */
    width: 100%; /* 寬度佔據父元素 */
    color: white; /* 文字顏色 */
  }

  .input-field::placeholder {
    color: white; /* 將 placeholder 文字顏色設置為白色 */
  }
  
  /* 按鈕容器樣式 */
  .form .btn {
    display: flex; /* 使用彈性盒子佈局 */
    justify-content: center; /* 水平居中對齊 */
    flex-direction: row; /* 主軸方向為水平方向 */
    margin-top: 1em; /* 上邊距 */
  }
  
  /* 按鈕樣式 */
  .button1,
  .button2,
  .button3 {
    padding: 0.5em; /* 內邊距 */
    border-radius: 5px; /* 圓角 */
    border: none; /* 移除邊框 */
    outline: none; /* 移除外框線 */
    transition: .4s ease-in-out; /* 過渡效果 */
    background-color: #4D869C; /* 背景顏色 */
    color: white; /* 文字顏色 */
  }
  
  /* 按鈕 1 樣式 */
  .button1 {
    padding-left: 1.1em; /* 左邊填充 */
    padding-right: 1.1em; /* 右邊填充 */
    margin-right: 0.5em; /* 右邊距 */
  }
  
  /* 按鈕 2 樣式 */
  .button2 {
    padding-left: 2.3em; /* 左邊填充 */
    padding-right: 2.3em; /* 右邊填充 */
  }
  
  /* 按鈕 3 樣式 */
  .button3 {
    margin-bottom: 3em; /* 下邊距 */
  }
  
  /* 按鈕懸停時的效果 */
  .button1:hover,
  .button2:hover,
  .button3:hover {
    background-color: black; /* 按鈕懸停時的背景顏色 */
    color: white; /* 按鈕懸停時的文字顏色 */
  }
  
  @keyframes flipPage {
    0% {
      transform: perspective(400px) rotateY(0);
    }
    100% {
      transform: perspective(400px) rotateY(180deg);
    }
  }
  
  .flip {
    animation: flipPage 1s forwards;
  }
  